<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resultpage</title>
</head>
<body>
    <body style="background: snow">

        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">

              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
                <span class="navbar-toggler-icon"></span>
                <span class="fw-bold text-secondary"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Favourites</a>
                  </li>
                </ul>
    
                <form class="d-flex" role="search" method="GET" action="/search">
                  <input class="form-control me-2" type="search" placeholder="Search meal" aria-label="Search" name="word"
                    id="word" required>
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
        
              </div>
            </div>
          </nav>
          <br>

          <form action="save">
          <table data-th-each="m: ${meal}">
            <tr>
                <td data-th-text="${m.idMeal}"></td>
                <td data-th-text="${m.strMeal}"></td>
                <td data-th-text="${m.strCategory}"></td>
                <td data-th-text="${m.strArea}"></td>
                <img  style ="height:250px" data-th-src="${m.strMealThumb}">
                <input type="checkbox" name="checkbox" th:value="${m.strMeal}">
                
                    
            </tr>
        </table>
        <button>Save to Favourites</button>
    
      </form>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script> 
</body>
</html>